<!-- Reffernce: https://www.html5canvastutorials.com/labs/html5-canvas-paint-application/ -->
{% extends "bootstrap/base.html" %}

{% block content %}
<!DOCTYPE HTML>
<html>
  <head>
    <style>
      #canvas {
        border: 5px solid black;
        margin: auto;
        padding: 0px 0px 0px 0px;
        width: 310px;
        height: 310px;
        vertical-align: middle;
      }
      #paint {
        margin: auto;
        width: 300px;
        height: 300px;
        vertical-align: middle;
      }
    </style>
  </head>
  <body data-rsssl=1 align="center">

    <h1>Enter Number (0-9):</h1>
    <div id="canvas">
        <div id="paint">
            <canvas id="myCanvas"></canvas>
        </div>
    </div>
  	
    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    <a href="#" id="myButton" class="myButton"><span style=" font-weight: 400; font-family: 'Open Sans', Helvetica;	"> Predict </span></a>			
    <div id="target">
      <input type="button" id="clearButton" class="clearButton" onclick="clearFunction()" value="Clear" >
    </div>
    <div >
			<h1 id="result" style="margin-top:100px;"><span>RESULTS</span></h1>
    </div>
    
    <script>
        var canvas = document.getElementById('myCanvas');
        var ctx = canvas.getContext('2d');
        
        var painting = document.getElementById('paint');
        var paint_style = getComputedStyle(painting);
        canvas.width = parseInt(paint_style.getPropertyValue('width'));
        canvas.height = parseInt(paint_style.getPropertyValue('height'));

        var mouse = {x: 0, y: 0};
        

        canvas.addEventListener('mousemove', function(e) {
        mouse.x = e.pageX - this.offsetLeft;
        mouse.y = e.pageY - this.offsetTop;
        }, false);

        // draw line colour width
        ctx.lineWidth = 18;
        ctx.lineJoin = 'round';
        ctx.lineCap = 'round';
        ctx.strokeStyle = '#000000';
        
        canvas.addEventListener('mousedown', function(e) {
            ctx.beginPath();
            ctx.moveTo(mouse.x, mouse.y);
        
            canvas.addEventListener('mousemove', onPaint, false);
        }, false);
        
        canvas.addEventListener('mouseup', function() {
            canvas.removeEventListener('mousemove', onPaint, false);
        }, false);
        
        var onPaint = function() {
            ctx.lineTo(mouse.x, mouse.y);
            ctx.stroke();
        };

        function clearFunction(){
          
          var canvas = document.querySelector( "#myCanvas" );
	        var context = canvas.getContext( "2d" );
        
          context.clearRect( 0, 0, 300, 300 );
          context.fillStyle="white";
          //context.fillRect(0,0,600,600);
        }

    </script>
    
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>

      $("#submit").click(function(){
        var $SCRIPT_ROOT = '{{ request.script_root|tojson|safe }}';
        var canvasObj = document.getElementById("myCanvas");
        var img = canvasObj.toDataURL();
        
        console.log( $SCRIPT_ROOT );
        $.ajax({
          type: "POST",
          url: "http://127.0.0.1:5000/predict",
          data: img,
          success: function(data){
            $('#result').text(' Predicted Output: '+data);
          }
        });
        
      });

      function Click(el) {
        console.log(el)
      }

      $(".some_class").on("click", function(e) {
        console.log("Event: ", e);
        console.log("Current Target of Event: ", e.currentTarget);
        console.log("this: ", this);
        console.log("$(this): ", $(this));
      })
      /*
      $( "#submit" ).click(function() {
        alert( "Handler for .click() called." );
      });*/
    </script>
  </body>
</html>    
{% endblock %}        